<h3>Artist Form</h3>
<%= form_for (@artist) do |f| %>
    <label for="artist_name">Artist name: </label><br>
    <%= f.text_field :name %><br
    
    <label for="artist_bio">Artist bio: </label><br>
    <%= f.text_area :bio %><br>
    
    <%= f.submit %>
<% end %>